<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sitemap">
            <group id="home_page" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>
                    <![CDATA[Home Page Options]]>
                </label>
                <field id="changefreq" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>
                        <![CDATA[Frequency]]>
                    </label>
                    <source_model>Magento\Sitemap\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="priority" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>
                        <![CDATA[Priority]]>
                    </label>
                    <comment>
                        <![CDATA[Valid values range from 0.0 to 1.0.]]>
                    </comment>
                    <backend_model>Magento\Sitemap\Model\Config\Backend\Priority</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
